$loginColor : #39cdcc;
$whiteColor: #ffffff;
$inputTextColor: #545f7d;
$boxShadowColor: rgba(0, 0, 0, 0.03);
$borderColor: rgba(84, 95, 125, 0.15);
$logoTextColor: #213f7d;
$fontFamily: "Poppins";

@mixin logoStyle($paddingBottom) {
  padding-bottom: $paddingBottom;
}
@mixin inputTextStyle( $width, $height, $borderRadius, $color, $fontSize){
  width: 447px;
  height: 50px;
  background: $whiteColor;
  border: 2px solid $borderColor;
  border-radius: $borderRadius;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: $fontFamily;
  font-weight: 400;
  font-size: $fontSize;
  color: $color;
  opacity: 0.6;
}
@mixin buttonStyle($width, $color, $fontSize) {
  width: $width;
  height: 50px;
  font-weight: 600;
  font-size: $fontSize;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: $loginColor;
  border-radius: 8px;
  color: $color;
  border: none;
  cursor: pointer;
}